<!--
  ~ (C) Copyright  2011/2021 BPMX.  All Rights Reserved
  ~ THIS IS UNPUBLISHED PROPRIETARY SOURCE CODE OF BPMX.
  ~ The copyright notice above does not evidence any actual or intended
  ~ publication of such source code.
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>BPM Flowable</title>
    </head>
    <body>
        <h1>Bpm Process Definition List</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            <tr th:each="process : ${processes}">
                <td th:text="${process.id}"> 123</td>
                <td th:text="${process.name}"> Process Definition name</td>
            </tr>
        </table>
    </body>
</html>